:root {
  --color-primary: #fff;
  --color-secondary: #253334;
  --color-button-bg: #7C9A92;
}

body {
  margin: 0 !important;
  width: 100vw;
  height: 100vh;
  font-family: "Alegreya Sans", sans-serif;
  background-color: var(--color-secondary);
  overflow: hidden;
}

button {
  cursor: pointer;
  font-family: "Alegreya Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Alegreya", sans-serif;
}

p,span {
  font-family: "Alegreya Sans", sans-serif;
}
