:root {
  --color-primary: #fff;
  --color-secondary: #253334;
  --color-button-bg: #7C9A92;
}

body {
  margin: 0 !important;
  width: 100vw;
  height: 100vh;
  font-family: "Alegreya Sans", sans-serif;
  background-color: var(--color-secondary);
  overflow: hidden;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: "Alegreya Sans", sans-serif;
  border-radius: 0.75rem;
  border: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Alegreya", sans-serif;
}

p,span {
  font-family: "Alegreya Sans", sans-serif;
}

.m-auth-page {
  background-image: image-set(
    url('/bg.png') 1x,
    url('/bg@2x.png') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-auth-page-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-width: 300px;
}

.m-auth-page-form__submit {
  padding: 1rem 3rem;
  color: var(--color-primary);
  font-size: 1.5rem;
  line-height: 1.2;
  background-color: var(--color-button-bg);
}
